# ---- OS / IDE ----
Thumbs.db
.DS_Store
.idea/
.vscode/
.vs/

# ---- .NET ----
**/bin/
**/obj/
**/*.user
**/*.suo

# ---- Flutter / Dart ----
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
.flutter-version

# ---- platform ephemeral ----
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/

# ---- Docker ----
**/docker-data/
**/docker-volume/
**/.docker/
docker-compose.override.yml

# ---- Logs ----
**/*.log
logs/

# ---- Database ----
**/*.mdf
**/*.ldf

# ---- Secrets ----
appsettings.Development.json
.env
**/*.secret*
